body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(71, 68, 240);
    border-radius: 20px;
    width: 400px;
    height: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.display {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    font-family: monospace;
    box-sizing: border-box;
    padding: 0 10px;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    flex-grow: 1;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: #e0e0e0;
    transition: background 0.2s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

button:hover {
    background-color: #bdbdbd;
}

.clear {
    grid-column: span 4;
    background-color: #ff7675;
    color: white;
}

.result {
    grid-column: span 2;
    background-color: #55efc4;
}
